beautifulsoup4
chromadb
coverage
duckduckgo-search
faker
openai
markdown
markdownify
numpy
pydantic
pypirc
pytest
python-dotenv
PyYAML
ruff
tenacity
tiktoken
transformers
torch
torchvision
torchaudio
